%p#notice= notice
%p
  %strong User:
  = @comment.user_id
%p
  %strong Tweet:
  = @comment.tweet_id
%p
  %strong Text:
  = @comment.text
= link_to 'Edit', edit_comment_path(@comment)
|
= link_to 'Back', comments_path
