%p#notice= notice
.contents
  %figure
    = image_tag @tweet.image, size: "546x290", alt: "顔写真1"
  .content-show
    %h2
      = @tweet.title_name
    %p.tweet-sentence
      = @tweet.text

.back-button
  = link_to 'Back', tweets_path