%p#notice= notice
.contents
  %figure
    = image_tag @tweet.image, size: "546x290", alt: "顔写真1"
  .content-show
    %h2
      = @tweet.title_name
    %p.tweet-sentence
      = @tweet.text
    - if user_signed_in?
      = form_with model: @user do |form|
        = form.text_field :text
        = form.submit

.back-button
  = link_to 'Back', tweets_path